<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Change Password</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input type="password" class="form-control" placeholder="Old Password" />
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" class="form-control" placeholder="New Password" />
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" class="form-control" placeholder="Confirm Password" />
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-update pull-right">Update Profile</button>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>